body{
    font-family: 'Montserrat', sans-serif;
    margin: 2rem;
    background-color: #feeaee;
}
header>img{
    max-width: 25%;
    width: 300px;
    padding-top: 0;
}
header>nav>a{
    color:black;
    font-size: 2rem;
}
header>nav{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
header{
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}
.about-me img{
    max-width: 65%;
}
.gallery{
    text-align: center;
    font-size: 125%;
}
.gallery img{
    max-width: 25%;
    width: 100%;
}
.about-me{
    display: flex;
    font-size: 125%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.about-me h2{
    flex-basis: 100%;
}
.about-me div{
    width: 25%;
    margin: 0 4rem;
}
.contact{
    text-align: center;
    font-size: 125%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.contact ul{
    text-align: left;
    width: 22rem;
    margin: auto;
}
@media (max-width:700px){
    header{
        flex-wrap: wrap;
        justify-content: center;
    }
    header nav{
        flex-basis: 100%;
        padding-top: 2rem;
    }
    .about-me h3{
        text-align: center;
    }
    .about-me div{
        width: 40%;
        margin: 0 1rem
    }
}