body{
    font-family: 'Montserrat', sans-serif;
}
header>h1>img{
    max-width: 25%;
    padding-top: 0;
}
.about-me img{
    max-width: 50%;
}
.gallery img{
    max-width: 15%;
}
.about-me{
    display: flex;
    font-size: 125%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.about-me h2{
    flex-basis: 100%;
}
.about-me div{
    width: 25%;
    margin: 4rem;
}