body{
    font-family: 'Montserrat', sans-serif;
    margin: 2rem;
    background-color: #feeaee;
}
header>img{
    max-width: 25%;
    width: 300px;
    padding-top: 0;
}
header>nav>a{
    color:black;
    font-size: 2rem;
}
header>nav{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
header{
    display: flex;
    align-items: center;
    padding-bottom: 4rem;
}
.about-me img{
    max-width: 65%;
}
.gallery{
    text-align: center;
}
.gallery img{
    max-width: 15%;
}
.about-me{
    display: flex;
    font-size: 125%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}
.about-me h2{
    flex-basis: 100%;
}
.about-me div{
    width: 25%;
    margin: 4rem;
}
.contact{
    text-align: center;
}